{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/doc.css' %}">
    <title>API DOC</title>
    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
<div class="container">
    <div class="content">
        <h4>default path:</h4> <pre style="">trello.thibautstachnick.com/api</pre>

        <h3>Example</h3>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Describe what the url does</p>
                <code>link to the url</code>
                <div class="button example">method</div>
                <div class="log">Condition (show only if required)</div>
            </div>
            <div class="jsonBody"><span>Example if json needed</span><span>{ <br> "json":true,<br> "api":"easy"<br> }</span></div>
        </div>

        <h2 class="uppercase">users</h2>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Register as a new user of the application</p>
                <code>https://trello.thibautstachnick.com/api/register</code>
                <div class="button post">post</div>
            </div>
            <div class="jsonBody"><span>User registration</span><span>{ <br> "username":"{your Username}", <br> "password":"{your Password}" <br> }</span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Login and get a token from the application</p>
                <code>/token</code>
                <div class="button post">post</div>
            </div>
            <div class="jsonBody"><span>User logging in</span><span>{ <br> "username":"{your Username}", <br> "password":"{your Password}" <br> }</span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Refresh the token of a user</p>
                <code>/token/refresh</code>
                <div class="button post">post</div>
            </div>
            <div class="jsonBody"><span>Refreshing token</span><span>{ <br> "refresh":"{Refresh Token}" <br> }</span></div>
        </div>



        <h2 class="uppercase">WORKSPACES</h2>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show all the workspaces from current user</p>
                <code>/index</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Create a new workspace</p>
                <code>/workspace/create</code>
                <div class="button post">post</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody">
                <span>Create Workspace</span>
                <span>
                    {
                    <br> "name":"string"
                    <br> "description":"string"
                    <br> "type":number
                    <br>
                    }
                </span>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Edit a workspace</p>
                <code>/workspace/edit/{Workspace Id}</code>
                <div class="button put">put</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody"><span>Workspace Edition</span>
                <span>
                    {
                    <br> "name":"string",
                    <br> "description":"string",
                    <br> "type":number
                    <br>
                    }
                </span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Delete a workspace</p>
                <code>/workspace/delete/{Workspace Id}</code>
                <div class="button delete">delete</div>
                <div class="log">loggedIn</div>
            </div>
        </div>



        <h3 class="uppercase">private event</h3>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show all the private events since you're participating</p>
                <code>/private/event/index</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show a unique private event since you're participating</p>
                <code>/private/event/showEvent/{Event ID}</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Create a new private event</p>
                <code>/private/event/create</code>
                <div class="button post">post</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody"><span>Private event creation</span><span>{ <br> "place":"string",<br>
    "description":"event description",<br>
    "startOn": "date | format (d-m-Y)",<br>
    "endOn":"date | format (d-m-Y)",<br>
    "isPlacePrivate":true/false <br> }</span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Invite a user to a private event</p>
                <code>/private/event/invite/{EventID}/{Invited User Id}</code>
                <div class="button post">post</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Cancel or schedule again an existing event</p>
                <code>/private/event/changeStatus/{EventID}</code>
                <div class="button put">put</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Edit an existing private event</p>
                <code>/private/event/edit/{eventID}</code>
                <div class="button put">put</div>
                <div class="log">loggedIn</div>
            </div>
                <div class="jsonBody"><span>Private event edition</span><span>{ <br> "place":"string",<br>
        "description":"event description",<br>
        "startOn": "date | format (d-m-Y)",<br>
        "endOn":"date | format (d-m-Y)",<br>
        "isPlacePrivate":true/false <br> }</span></div>
            </div>
        </div>

    <h3 class="uppercase">contributions | linked to private event on private place only</h3>

    <div class="blocOfCode">
        <div class="code">
            <p class="codeTitle">Show all contributions include suggestions and standalone supports</p>
            <code>/private/event/showContributions/{Event ID}</code>
            <div class="button get">get</div>
            <div class="log">loggedIn</div>
        </div>
    </div>

    <div class="blocOfCode">
        <div class="code">
            <p class="codeTitle">Show all suggestions from the host of an event</p>
            <code>/private/event/showSuggestions/{Event ID}</code>
            <div class="button get">get</div>
            <div class="log">loggedIn</div>
        </div>
    </div>

    <div class="blocOfCode">
        <div class="code">
            <p class="codeTitle">add a suggestion if you're the host of the event</p>
            <code>/private/event/addSuggestion/{Event ID}</code>
            <div class="button post">post</div>
            <div class="log">loggedIn</div>
        </div>
        <div class="jsonBody"><span>Add a suggestion to private event</span><span>{<br> "title":"{your suggestion title}" <br>}</span></div>
    </div>

    <div class="blocOfCode">
        <div class="code">
            <p class="codeTitle">Start supporting a suggestion to make it a support into the contributions</p>
            <code>/private/event/supportSuggestion/{Suggestion ID}</code>
            <div class="button put">put</div>
            <div class="log">loggedIn</div>
        </div>
    </div>

    <div class="blocOfCode">
        <div class="code">
            <p class="codeTitle">Stop supporting a suggestion to remove it from the contributions and make it available again</p>
            <code>/private/event/supportSuggestion/{Suggestion ID}</code>
            <div class="button put">put</div>
            <div class="log">loggedIn</div>
        </div>
    </div>

    <div class="blocOfCode">
        <div class="code">
            <p class="codeTitle">add a support not linked to a suggestion if you're participating to private event</p>
            <code>/private/event/addSupport/{Event ID}</code>
            <div class="button post">post</div>
            <div class="log">loggedIn</div>
        </div>
        <div class="jsonBody"><span>Add a support to private event</span><span>{<br> "title":"{your support title}" <br>}</span></div>
    </div>

    <div class="blocOfCode">
        <div class="code">
            <p class="codeTitle">Delete a support if you're the creator of it or the private event host</p>
            <code>/private/event/removeSupport/{Support ID}</code>
            <div class="button delete">delete</div>
            <div class="log">loggedIn</div>
        </div>
    </div>


    </div>

</body>
</html>