{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/doc.css' %}">
    <title>API DOC</title>
    {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
<div class="container">
    <div class="content">
        <h4>default path:</h4> <pre style="">trello.thibautstachnick.com/api</pre>

        <h3>Example</h3>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Describe what the url does</p>
                <code>link to the url</code>
                <div class="button example">method</div>
                <div class="log">Condition (show only if required)</div>
            </div>
            <div class="jsonBody"><span>Example if json needed</span><span>{ <br> "json":true,<br> "api":"easy"<br> }</span></div>
        </div>

        <h2 class="uppercase">users</h2>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Register as a new user of the application</p>
                <code>https://trello.thibautstachnick.com/api/register</code>
                <div class="button post">post</div>
            </div>
            <div class="jsonBody"><span>User registration</span><span>{ <br> "username":"{your Username}", <br> "password":"{your Password}" <br> }</span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Login and get a token from the application</p>
                <code>/token</code>
                <div class="button post">post</div>
            </div>
            <div class="jsonBody"><span>User logging in</span><span>{ <br> "username":"{your Username}", <br> "password":"{your Password}" <br> }</span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Refresh the token of a user</p>
                <code>/token/refresh</code>
                <div class="button post">post</div>
            </div>
            <div class="jsonBody"><span>Refreshing token</span><span>{ <br> "refresh":"{Refresh Token}" <br> }</span></div>
        </div>



        <h2 class="uppercase">WORKSPACES</h2>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show all the workspaces from current user</p>
                <code>/index</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Create a new workspace</p>
                <code>/workspace/create</code>
                <div class="button post">post</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody">
                <span>Create Workspace</span>
                <span>
                    {
                    <br> "name":"string"
                    <br> "description":"string"
                    <br> "type":number
                    <br>
                    }
                </span>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Edit a workspace</p>
                <code>/workspace/edit/{Workspace Id}</code>
                <div class="button put">put</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody"><span>Workspace Edition</span>
                <span>
                    {
                    <br> "name":"string",
                    <br> "description":"string",
                    <br> "type":number
                    <br>
                    }
                </span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Delete a workspace</p>
                <code>/workspace/delete/{Workspace Id}</code>
                <div class="button delete">delete</div>
                <div class="log">loggedIn</div>
            </div>
        </div>



        <h3 class="uppercase">Boards</h3>
        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show all the boards</p>
                <code>/board/showAll/{Workspace Id}</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show a specific board</p>
                <code>/board/show/{Board Id}</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Create a new board</p>
                <code>/board/create/{Workspace Id}</code>
                <div class="button post">post</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody">
                <span>Create Board</span>
                <span>
                    {
                    <br> "name":"string"
                    <br> "description":"string"
                    <br> "visibility":number
                    <br>
                    }
                </span>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Edit a board</p>
                <code>/board/edit/{Board Id}</code>
                <div class="button put">put</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody"><span>Board Edition</span>
                <span>
                    {
                    <br> "name":"string",
                    <br> "description":"string",
                    <br> "visibility":number
                    <br>
                    }
                </span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Delete a board</p>
                <code>/board/delete/{Board Id}</code>
                <div class="button delete">delete</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        </div>

    <h3 class="uppercase">Lists</h3>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show a specific list</p>
                <code>/list/show/{List Id}</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Create a new list</p>
                <code>/list/create/{Board Id}</code>
                <div class="button post">post</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody">
                <span>Create List</span>
                <span>
                    {
                    <br> "name":"string"<br>
                    }
                </span>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Edit a list</p>
                <code>/list/edit/{List Id}</code>
                <div class="button put">put</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody"><span>List Edition</span>
                <span>
                    {
                    <br> "name":"string"<br>
                    }
                </span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Delete a list</p>
                <code>/list/delete/{List Id}</code>
                <div class="button delete">delete</div>
                <div class="log">loggedIn</div>
            </div>
        </div>


    <h3 class="uppercase">Cards</h3>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Show a specific card</p>
                <code>/card/show/{Card Id}</code>
                <div class="button get">get</div>
                <div class="log">loggedIn</div>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Create a new card</p>
                <code>/card/create/{List Id}</code>
                <div class="button post">post</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody">
                <span>Create Card</span>
                <span>
                    {
                    <br> "name":"string",
                    <br> "description":"string"
                    <br>
                    }
                </span>
            </div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Edit a card</p>
                <code>/card/edit/{Card Id}</code>
                <div class="button put">put</div>
                <div class="log">loggedIn</div>
            </div>
            <div class="jsonBody"><span>Card Edition</span>
                <span>
                    {
                    <br> "name":"string",
                    <br> "description":"string"
                    <br>
                    }
                </span></div>
        </div>

        <div class="blocOfCode">
            <div class="code">
                <p class="codeTitle">Delete a card</p>
                <code>/card/delete/{Card Id}</code>
                <div class="button delete">delete</div>
                <div class="log">loggedIn</div>
            </div>
        </div>


    </div>

</body>
</html>